language: go

go:
  - 1.7
  - tip
install:
  - go get golang.org/x/tools/cmd/cover
  - go get gopkg.in/check.v1
  - go get github.com/flosch/pongo2
  - go get github.com/russross/blackfriday
  - go get github.com/extemporalgenome/slug
  - go get github.com/flosch/go-humanize
script:
  - go test -v -covermode=count -coverprofile=coverage.out
